@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
}

:root {
    --bg: #ECF5FE;
    --text: #151515;
    --lightblue: #A7C8E7;
    --lighterblue: #D6EBFF;
    --blue: #3B5FE3;
    --textWhite: #ECF5FE;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3em;
    background-color: #EEFCF9;
    /* margin: 0 10em; */
}

.negrito{
    font-weight: bolder;
}
.Login{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    border-radius: 6px;
    align-items: center;
}
.box{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
.imagemLogin{
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
}
.pagLoginImg{
    width: 125vh;
    height: auto;
}
h3{
    padding-top:5%;
    height:10%;
    margin: 0%;
}
.campo{
    height:5%;
}

input{    
    border-radius: 10px;
    width: 350px;
    height: 30px;
}

.botao{
    border-radius: 10px;
    width: 250px;
    height: 70px;
    font-size: 20px;
    background-color: #A7F1D1;
}

