@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
}

:root {
    --bg: #ECF5FE;
    --text: #151515;
    --lightblue: #A7C8E7;
    --lighterblue: #D6EBFF;
    --blue: #3B5FE3;
    --textWhite: #d6d6d6;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3em;
    background-color: var(--bg);
    margin: 0 10em;
}

/* navbar*/
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.navbar img {
    width: 50px;
    height: 50px;
}

.navbar .logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    font-weight: 300;
}

.negrito {
    font-weight: bold;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 3em;
}

.conteiner{
    align-items: center;
    width: 80%;
    margin: auto;
}

ul{
    margin: 0;
    padding-top: 1.5%;
}

h3{
    padding-top:5%;
    height:10%;
    margin: 0%;
}

.campo{
    height:5%;
}

.box{
    height: 100%;
    width: 60%;
    background-color: aliceblue;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

input{    
    border-radius: 10px;
    width: 350px;
    height: 30px;
}

.botao{
    border-radius: 10px;
    width: 250px;
    height: 70px;
    font-size: 20px;
}

.footer{
    height: 10%;
    border-top: solid 2px;
}