@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
}

:root {
    --bg: #ECF5FE;
    --text: #151515;
    --lightblue: #A7C8E7;
    --lighterblue: #D6EBFF;
    --blue: #3B5FE3;
    --textWhite: #ECF5FE;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3em;
    background-color: aliceblue;
    /* margin: 0 10em; */
}

/* navbar*/
/* .navbar {
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.navbar img {
    width: 50px;
    height: 50px;
}

.navbar .logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    font-weight: 300;
} */
/* 
.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 3em;
} */


.cadastro{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    border-radius: 6px;
    align-items: center;
}
.box{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
.imagemBoasVindas{
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
}
.pagCadastroImg{
    width: 130vh;
    height: auto;
}
h3{
    padding-top:5%;
    height:10%;
    margin: 0%;
}
.campo{
    height:5%;
}

input{    
    border-radius: 10px;
    width: 350px;
    height: 30px;
}

.botao{
    border-radius: 10px;
    width: 250px;
    height: 70px;
    font-size: 20px;
}